ul.rh-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.rh-tabs li {
    display: inline-block;
    border: none;
    background: #ececec;
    border-radius: 5px 5px 0 0;
    transition: background 0.3s ease;
}

ul.rh-tabs li a {
    display: block;
    color: #333;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}


ul.rh-tabs li a:hover {
    background: #ddd;
}

ul.rh-tabs li.active a {
    background-color: #E65447;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.rh-tab-content {
    display: none;
    border-top: solid 5px #E65447;
}

.rh-tab-content.active {
    display: block;
    width: 300px;
    height: 400px;
}

.rh-textarea {
    resize: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
